@media (max-width: 1190px) {
  #gray {
    padding: 60px 30px;
  }
  #menu ul li a {
    font-size: 17px;
  }
  .header {
    padding: 0 30px;
  }
  #dark-gray {
    padding: 0 30px;
  }
  #slider h1 {
    font-size: 44px;
  }
  #slider a {
    font-size: 15px;
    height: 52px;
    line-height: 52px;
  }
  .product-text a {
    font-size: 15px;
  }
}

@media (max-width: 1090px) {
  #menu ul li a,
  .product-text a {
    font-size: 14px;
  }

  #slider h1 {
    font-size: 40px;
  }
  #slider a {
    font-size: 14px;
    height: 49px;
    line-height: 49px;
    width: 145px;
  }
  .footer-links ul li a {
    font-size: 15px;
  }
  .footer-links ul {
    padding-inline-start: 0;
  }
  .footer-social {
    margin-left: 0px;
  }
  .footer-links ul li {
    margin-left: 30px;
  }
}

@media (max-width: 1024px) {
  .activ-image img {
    height: 170px;
  }
  .activ-name a {
    font-size: 22px;
  }
  .vision-title,
  .mission-title,
  .activ-title {
    font-size: 55px;
  }
  .vision-description,
  .mission-description {
    font-size: 18px;
  }
}

@media (max-width: 995px) {
  #menu {
    text-align: right;
  }
  #menu::before {
    content: "";
    display: inline-block;
    background-size: 100% 100%;
    background-image: url(./../images/menu.png);
    width: 35px;
    height: 35px;
  }
  #menu:active ul,
  #menu ul:hover {
    display: block;
  }
  #menu ul {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
  }
  #menu ul li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  .footer-links ul li a {
    font-size: 14px;
  }
  .footer-links ul li {
    margin-left: 20px;
  }
  .footer-credit {
    font-size: 12px;
  }
}

@media (max-width: 790px) {
  .vision-section {
    margin-bottom: 20px;
  }
  .nav-footer {
    flex-direction: column;
  }
  .activ-name a {
    font-size: 19px;
    padding: 15px 0 25px 0;
  }
  .activ-description {
    font-size: 13px;
  }
  .vision-description,
  .mission-description {
    font-size: 16px;
  }
  .activ-description {
    padding: 40px 0 60px 0;
  }
  .vision-title,
  .mission-title,
  .activ-title {
    font-size: 50px;
  }
}

@media (max-width: 750px) {
  .product-img {
    height: 40px;
  }
  .product-text a {
    font-size: 12px;
  }
  #categories {
    height: 140px;
  }

  #slider h1 {
    margin: 30px;
  }
  #slider {
    margin-top: -150px;
    padding: 250px 0;
  }
}

@media (max-width: 668px) {
  #categories {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
  .product-text a {
    font-size: 14px;
  }
  .product {
    margin: 10px 0;
  }
  .product-img {
    padding-bottom: 5px;
  }
  .vision-section {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .mission-section {
    flex-direction: column-reverse;
  }
  #gray {
    text-align: center;
    padding: 30px 20px;
  }
  .vision-image img,
  .mission-image img {
    margin: 10px 0 0 0;
    width: 70%;
  }
  .vision-title,
  .mission-title,
  .activ-title {
    font-size: 47px;
  }
  .vision-section .w-2,
  .mission-section .w-2 {
    width: 70%;
  }
  #dark-gray .wrapper .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #dark-gray .wrapper .row .w-3 {
    width: auto;
  }
  .activ-description {
    padding: 40px 0 30px 0;
  }
  .activ-image img {
    height: 170px;
    width: auto;
  }
  #dark-gray {
    padding: 0 30px 30px 30px;
  }
  .footer-links ul {
    display: flex;
    flex-direction: column;
  }
  .nav-footer {
    flex-direction: row;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
    margin: 16px 0 16px 0;
  }
}

@media (max-width: 550px) {
  #logo img {
    width: 70%;
  }
}

@media (max-width: 400px) {
}

@media (max-width: 320px) {
}
