body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  max-width: 1127px;
  width: 100%;
  margin: 0 auto;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

.w-1 {
  width: 100%;
  float: left;
}

.w-2 {
  width: 50%;
  float: left;
}

.w-3 {
  width: 33.33%;
  float: left;
}

.w-4 {
  width: 25%;
  float: left;
}

.w-5 {
  width: 20%;
  float: left;
}

.w-7 {
  width: 14.28%;
  float: left;
}

.align-right {
  text-align: right;
}

.flex {
  display: flex;
  align-items: end;
}

/*---------------------HOME PAGE-----------------------*/

/*---------banner-----------*/
#slider {
  text-align: center;
  background: url(./../images/bg.jpg) no-repeat center;
  margin-top: -140px;
  padding: 330px 0;
}

#slider h1 {
  color: #735440;
  font-size: 48px;
  font-weight: bold;
}

#slider a {
  display: block;
  background-color: #57984c;
  color: #fff;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  text-align: center;
  height: 55px;
  line-height: 55px;
  width: 160px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}

/*---------products-----------*/
#categories {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  height: 190px;
  align-items: center;
}

.product-img {
  height: 50px;
  padding-bottom: 15px;
}

.product-text a {
  text-decoration: none;
  font-weight: 400;
  color: #324950;
}

/*---------vision mission-----------*/
#gray {
  background-color: #f7f7f7;
  background-image: url(./../images/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0;
  text-align: left;
}

.vision-section,
.mission-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vision-image img,
.mission-image img {
  width: 95%;
}
.mission-image img {
  margin-left: -30px;
}
.vision-image img {
  margin-left: 50px;
}
.vision-title,
.mission-title {
  font-weight: 700;
  font-size: 64px;
  padding-bottom: 25px;
  color: #324950;
}
.vision-description,
.mission-description {
  font-weight: 400;
  font-size: 20px;
  padding-top: 31px;
  color: #324950;
  line-height: 162.7%;
}

/*---------main activ-----------*/
#dark-gray {
  background-color: #ededed;
  text-align: center;
}

.activ-title {
  color: #324950;
  font-size: 64px;
  font-weight: 700;
  padding: 60px 0 25px 0;
}

.activ-image img {
  height: 232px;
  width: 80%;
}

.activ-name a {
  text-decoration: none;
  color: #57984c;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #57984c;
  padding: 15px 0 27px 0;
  transition: color 0.3s;
}

.activ-name a:hover {
  color: #324950;
}

.activ-description {
  padding: 42px 0 95px 0;
}

/*---------------------TOMATO ALL-----------------------*/

/*---------banner-----------*/
.banner {
  background: url(./../images/tomato-banner.png) no-repeat center;
  padding: 240px 0;
}

/*---------------content-----------------*/
#pink {
  background-color: #fcf0f0;
  padding: 50px 0 50px 0;
}

/*---------Info Articles-----------*/
#pink .wrapper h1 {
  margin: 0;
  font-size: 44px;
  color: #324950;
}

.margin-tp {
  margin: 40px 0 40px 0;
}

.company-info {
  margin-bottom: 30px;
  font-size: 17px;
  color: #324950;
  line-height: 150%;
}

.border-left {
  border-left: 3px solid #eb5757;
  border-radius: 3px;
  padding: 10px 0 10px 30px;
}

.program-details {
  display: flex;
  justify-content: space-evenly;
  color: #324950;
  padding: 47px 0 47px 0;
  margin-bottom: 40px;
  background-color: #fff;
}

.greenhouse-program,
.open-field-program,
.bush-type-program {
  padding: 0 30px 0px 30px;
  width: 33.3%;
}

.program-title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #324950;
  padding-bottom: 15px;
}

.program-description {
  line-height: 150%;
  padding-top: 15px;
}

/*---------Tomato Cards-----------*/
#tomato-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tomato-card {
  background-color: #fff;
  width: 30.6%;
  margin: 15px;
  text-align: center;
}

.tomato-card a {
  text-decoration: none;
}

.card-img {
  width: 100%;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  color: #57984c;
  transition: color 0.3s;
}

.card-title:hover {
  color: #324950;
}

.card-description {
  font-size: 16px;
}

.card-description,
.card-title {
  color: #57984c;
  font-family: "Heebo", sans-serif;
  margin: 5px 0 5px 0;
}

#empty {
  width: 30%;
  margin: 15px;
}

/*---------------------TOMATO ONE-----------------------*/

#light-gray {
  background-color: #f7f7f7;
  background-image: url(./../images/bg-tomato-one.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0 160px 0;
}

/*---------Previous Page-----------*/
.tomato-prev {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.return-link {
  color: #57984c;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.4s;
}

.return-link:hover {
  color: #324950;
}

.return-arrow {
  padding-right: 17px;
}

.tomato-details {
  display: flex;
}

#col1,
#col2 {
  width: 50%;
}

/*---------Main Info-----------*/
.tomato-title {
  font-size: 54px;
  font-weight: 700;
  color: #57984c;
  margin: 0 0 40px 0;
  line-height: 142.7%;
}

.tomato-yield {
  display: flex;
  margin: 40px 0 40px 0;
  align-items: center;
  color: #cf2333;
  font-size: 30px;
  font-weight: 700;
  line-height: 142.7%;
}

.yield-image {
  margin-right: 23px;
}

/*---------Lists-----------*/
.list-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #57984c;
  padding-bottom: 12px;
  border-bottom: 1px solid #57984c;
}

.characteristics-list {
  line-height: 162.7%;
}

.characteristics-list,
.plant-list,
.fruit-list,
.cycle-list,
.color-list {
  padding: 0;
  font-size: 17px;
  color: #324950;
  list-style-type: none;
  margin-bottom: 30px;
}

.plant-list,
.fruit-list,
.cycle-list,
.color-list {
  line-height: 200%;
}

.plant-list li::before,
.fruit-list li::before,
.cycle-list li::before {
  content: "\2022";
  color: #57984c;
  padding-right: 20px;
}

.tomato-one-img {
  width: 96%;
  height: 47%;
}

/*---------Downoald Button-----------*/
.pdf-download-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pdf-download-link a {
  border: 1px solid #57984c;
  border-radius: 50px;
  display: flex;
  align-items: center;
  color: #57984c;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 30px 10px 30px;
  margin: 30px 20px 30px 20px;
  font-weight: 700;
  transition: color 0.4s;
}

.pdf-download-link a:hover {
  color: #324950;
  border: 1px solid #324950;
}

.pdf-icon {
  padding-right: 20px;
}

/*---------------------CONTACT US-----------------------*/

.banner-1 {
  background: url(./../images/image\ 7.jpg) no-repeat center;
  padding: 240px 0;
}

.bg-form {
  background-color: #f7f7f7;
}

.contact-form {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.form-head {
  font-size: 44px;
  color: #324950;
  margin: 0;
  margin: 50px 0 40px 0;
}

.column {
  display: flex;
  flex-direction: column;
}

#form-col-1 {
  width: 32%;
}

#form-col-2 {
  width: 56%;
}

.form-label {
  font-size: 17px;
  margin-top: 20px;
  color: #324950;
}

.form-input {
  margin-top: 11px;
  padding: 17px;
  border: 1px solid #dadada;
  border-radius: 10px;
  font-size: 17px;
}

.interests-input {
  padding: 22px;
}

.form-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 57px;
}

.submit-btn {
  padding: 16px 65px;
  margin-left: 25px;
  border: none;
  border-radius: 60px;
  font-size: 17px;
  font-family: "Roboto Slab", serif;
  background-color: #57984c;
  color: #fff;
  transition: background-color 0.6s;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #324950;
}

.address-section {
  text-align: center;
  background-color: #fff;
  padding: 40px 0 40px 0;
}

.address-title {
  font-size: 20px;
  color: #57984c;
  font-weight: 700;
  border-bottom: 1px solid #57984c;
  display: inline-block;
  padding: 0px 22px 17px;
}

.address-text {
  font-size: 17px;
  margin: 5px;
}

.address-section a {
  color: #57984c;
  text-decoration: none;
  transition: color 0.4s;
}
