body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  max-width: 1127px;
  width: 100%;
  margin: 0 auto;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

.w-1 {
  width: 100%;
  float: left;
}

.w-2 {
  width: 50%;
  float: left;
}

.w-3 {
  width: 33.33%;
  float: left;
}

.w-4 {
  width: 25%;
  float: left;
}

.w-5 {
  width: 20%;
  float: left;
}

.w-7 {
  width: 14.28%;
  float: left;
}

.align-right {
  text-align: right;
}

.flex {
  display: flex;
  align-items: end;
}
/*---------header-----------*/
#search {
  border-bottom: 1px solid #324950;
  display: inline-block;
  max-width: 350px;
  width: 100%;
  margin: 10px 0 43px 0;
}

#search input {
  font-size: 16px;
  color: #324950;
  background-color: transparent;
  border: none;
  max-width: 327px;
  width: 100%;
  height: 29px;
}

#search input::placeholder {
  color: #324950;
  font-family: "Roboto Slab", serif;
}

#search button {
  background: url(./../images/search.png) no-repeat center;
  font-size: 0;
  height: 18px;
  width: 18px;
  border: none;
  cursor: pointer;
  margin-bottom: 8px;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu ul li {
  display: inline;
  margin-left: 15px;
}

#menu ul li a {
  color: #324950;
  font-size: 18px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

#menu ul li a:hover {
  color: #57984c;
}

#logo {
  margin: 10px 0 0 0;
}
/*---------banner-----------*/
#slider {
  text-align: center;
  background: url(./../images/bg.jpg) no-repeat center;
  margin-top: -140px;
  padding: 330px 0;
}

#slider h1 {
  color: #735440;
  font-size: 48px;
  font-weight: bold;
}

#slider a {
  display: block;
  background-color: #57984c;
  color: #fff;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  text-align: center;
  height: 55px;
  line-height: 55px;
  width: 160px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}
/*---------products-----------*/
#categories {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  height: 190px;
  align-items: center;
}

.product-img {
  height: 50px;
  padding-bottom: 15px;
}

.product-text a {
  text-decoration: none;
  font-weight: 400;
  color: #324950;
}
/*---------vision mission-----------*/
#gray {
  background-color: #f7f7f7;
  background-image: url(./../images/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0;
  text-align: left;
}

.vision-section,
.mission-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vision-image img,
.mission-image img {
  height: 500px;
  width: 540px;
}
.mission-image img {
  margin-left: -30px;
}
.vision-image img {
  margin-left: 50px;
}
.vision-title,
.mission-title {
  font-weight: 700;
  font-size: 64px;
  padding-bottom: 25px;
  color: #324950;
}
.vision-description,
.mission-description {
  font-weight: 400;
  font-size: 20px;
  padding-top: 31px;
  color: #324950;
  line-height: 162.7%;
}

/*---------main activ-----------*/
#dark-gray {
  background-color: #ededed;
  text-align: center;
}

.activ-title {
  color: #324950;
  font-size: 64px;
  font-weight: 700;
  padding: 60px 0 25px 0;
}

.activ-image img {
  height: 232px;
}

.activ-name a {
  text-decoration: none;
  color: #57984c;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #57984c;
  padding: 15px 0 27px 0;
}

.activ-description {
  padding: 42px 0 95px 0;
}

/*---------footer-----------*/
.footer {
  background-color: #2d3f45;
}

.nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 11px 0 11px 0;
}
.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  display: inline;
  margin-left: 40px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer-social {
  margin-left: 100px;
}

.footer-credit {
  background-color: #324950;
  text-align: center;
  color: #fff;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 15px 0 15px 0;
}
