body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.wrapper {
  max-width: 1127px;
  width: 100%;
  margin: 0 auto;
}

.row::after {
  clear: both;
  content: "";
  display: block;
}

.w-1 {
  width: 100%;
  float: left;
}

.w-2 {
  width: 50%;
  float: left;
}

.w-3 {
  width: 33.33%;
  float: left;
}

.w-4 {
  width: 25%;
  float: left;
}

.w-5 {
  width: 20%;
  float: left;
}

.w-7 {
  width: 14.28%;
  float: left;
}

.align-right {
  text-align: right;
}

.flex {
  display: flex;
  align-items: end;
}

/*---------------------HOME PAGE-----------------------*/

/*---------banner-----------*/
#slider {
  text-align: center;
  background: url(./../images/bg.jpg) no-repeat center;
  margin-top: -140px;
  padding: 330px 0;
}

#slider h1 {
  color: #735440;
  font-size: 48px;
  font-weight: bold;
}

#slider a {
  display: block;
  background-color: #57984c;
  color: #fff;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  text-align: center;
  height: 55px;
  line-height: 55px;
  width: 160px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}

/*---------products-----------*/
#categories {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  height: 190px;
  align-items: center;
}

.product-img {
  height: 50px;
  padding-bottom: 15px;
}

.product-text a {
  text-decoration: none;
  font-weight: 400;
  color: #324950;
}

/*---------vision mission-----------*/
#gray {
  background-color: #f7f7f7;
  background-image: url(./../images/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0;
  text-align: left;
}

.vision-section,
.mission-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vision-image img,
.mission-image img {
  height: 500px;
  width: 540px;
}
.mission-image img {
  margin-left: -30px;
}
.vision-image img {
  margin-left: 50px;
}
.vision-title,
.mission-title {
  font-weight: 700;
  font-size: 64px;
  padding-bottom: 25px;
  color: #324950;
}
.vision-description,
.mission-description {
  font-weight: 400;
  font-size: 20px;
  padding-top: 31px;
  color: #324950;
  line-height: 162.7%;
}

/*---------main activ-----------*/
#dark-gray {
  background-color: #ededed;
  text-align: center;
}

.activ-title {
  color: #324950;
  font-size: 64px;
  font-weight: 700;
  padding: 60px 0 25px 0;
}

.activ-image img {
  height: 232px;
}

.activ-name a {
  text-decoration: none;
  color: #57984c;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #57984c;
  padding: 15px 0 27px 0;
}

.activ-description {
  padding: 42px 0 95px 0;
}

/*---------------------TOMATO ONE-----------------------*/

/*---------banner-----------*/
.banner {
  background: url(./../images/tomato-banner.png) no-repeat center;
  padding: 240px 0;
}
/*---------------content-----------------*/
#pink {
  background-color: #fcf0f0;
  padding: 50px 0 50px 0;
}
/*---------Infp Articles-----------*/

#pink .wrapper h1 {
  margin: 0;
  font-size: 44px;
  color: #324950;
}

.margin-tp{
  margin: 40px 0 40px 0;
}

.company-info {
  margin-bottom: 30px;
  font-size: 17px;
  color: #324950;
  line-height: 150%;
}

.border-left {
  border-left: 3px solid #eb5757;
  border-radius: 3px;
  padding: 10px 0 10px 30px;
}

.program-details {
  display: flex;
  justify-content: space-evenly;
  color: #324950;
  padding: 47px 0 47px 0;
  margin-bottom: 40px;
  background-color: #fff;
}

.greenhouse-program,
.open-field-program,
.bush-type-program {
  padding: 0 30px 0px 30px;
  width: 33.3%;
}

.program-title{
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #324950;
  padding-bottom: 15px;
}

.program-description {
  line-height: 150%;
  padding-top: 15px;
}

/*---------Tomato Cards-----------*/
#tomato-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tomato-card {
  background-color: #fff;
  width: 30.6%;
  margin: 15px;
  text-align: center;
}

.tomato-img {
  width: 100%;
}

.tomato-title a{
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #57984c;
  transition: color 0.3s;
}

.tomato-title a:hover{
  color: #324950;
}

.tomato-description {
  font-size: 16px;
}

.tomato-description,
.tomato-title {
  color: #57984c;
  font-family: "Heebo", sans-serif;
  margin: 5px 0 5px 0;
}

#empty {
  width: 30%;
  margin: 15px;
}
