<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=320, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../css/template.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="wrapper">
        <div class="row">
          <div class="w-2">
            <div id="logo">
              <img src="./../images/Logo.png" alt="Logo" />
            </div>
          </div>
          <div class="w-2 align-right">
            <div id="search">
              <div id="search-in" class="flex">
                <input type="text" placeholder="Search" />
                <button>Submit</button>
              </div>
            </div>
            <div id="menu">
              <ul>
                <li><a href="./../index.html">Home</a></li>
                <li><a href="#">Company Profile</a></li>
                <li><a href="./tomato_all.html">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">R&D</a></li>
                <li><a href="./contact_us.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content bg-form">
      <div class="banner-1"></div>
      <div class="wrapper">
        <h1 class="form-head">Contact Us</h1>
        <img src="./../images/Union.png" alt="" />
        <h2 class="cart-title">Cart:</h2>
        <table class="cart-table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name of product</th>
              <th>Description</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in cart">
              <td>
                <img
                  :src="'./../images/'+item.image"
                  alt="Product Image"
                  class="mini-image"
                />
              </td>
              <td>{{item.title}}</td>
              <td>{{item.short_text}}</td>
              <td><button @click="removeFromCart(item.id)">&#215;</button></td>
            </tr>
          </tbody>
        </table>

        <div v-if="orderMade" class="sub-data">
          <h2 class="data-title">
            The form was successfully submitted! Thank you! <br />
            Your data:
          </h2>
          <div>Name: {{contactFields.name}}</div>
          <div>Company Name: {{contactFields.company}}</div>
          <div>Position: {{contactFields.position}}</div>
          <div>City: {{contactFields.city}}</div>
          <div>Country: {{contactFields.country}}</div>
          <div>Telephone: {{contactFields.telephone}}</div>
          <div>Email: {{contactFields.email}}</div>
          <div>Profession: {{contactFields.profession}}</div>
          <div>Profession(other): {{contactFields.other_profession}}</div>
          <div>Interests: {{contactFields.interests}}</div>
        </div>

        <form
          class="contact-form"
          @submit.prevent="makeOrder"
          v-if="!orderMade"
        >
          <div id="form-col-1">
            <label class="form-label column">
              <span class="label-caption">Name *</span>
              <input
                class="form-input"
                type="text"
                name="user-name"
                v-model="contactFields.name"
                required
                autofocus
                tabindex="1"
              />
            </label>

            <label class="form-label column">
              <span class="label-caption">Company Name</span>
              <input
                class="form-input"
                type="text"
                name="company-name"
                v-model="contactFields.company"
                required
                tabindex="2"
              />
            </label>

            <label class="form-label column">
              <span class="label-caption">Position</span>
              <input
                class="form-input"
                type="text"
                name="user-position"
                v-model="contactFields.position"
                required
                tabindex="3"
              />
            </label>

            <label class="form-label column">
              <span class="label-caption">City</span>
              <input
                class="form-input"
                type="text"
                name="user-city"
                v-model="contactFields.city"
                required
                tabindex="4"
              />
            </label>

            <label class="form-label column">
              <span class="label-caption">Country</span>
              <input
                class="form-input"
                type="text"
                name="user-country"
                v-model="contactFields.country"
                required
                tabindex="5"
              />
            </label>

            <label class="form-label column">
              <span class="label-caption">Telephone</span>
              <input
                class="form-input"
                type="tel"
                name="user-tel"
                v-model="contactFields.telephone"
                required
                tabindex="6"
              />
            </label>

            <label class="form-label column">
              <span class="label-caption">Email *</span>
              <input
                class="form-input"
                type="email"
                name="user-email"
                v-model="contactFields.email"
                required
                tabindex="7"
              />
            </label>
          </div>

          <div id="form-col-2">
            <label class="form-label column">
              <span class="label-caption">You are a</span>
              <select
                class="form-input"
                name="user-profession"
                v-model="contactFields.profession"
                tabindex="8"
                required
              >
                <option value="none"></option>
                <option value="seed_producer">seed producer</option>
                <option value="farmer">farmer</option>
                <option value="gardener">gardener</option>
                <option value="agricultural_scientist">
                  agricultural scientist
                </option>
                <option value="agricultural_supplier">
                  agricultural supplier
                </option>
              </select>
            </label>

            <label class="form-label column">
              <span class="label-caption">If other, please specify</span>
              <input
                class="form-input"
                type="text"
                name="user-other-profession"
                v-model="contactFields.other_profession"
                required
                tabindex="9"
              />
            </label>

            <label class="form-label column">
              <span class="label-caption">You are interested in</span>
              <textarea
                class="form-input interests-input"
                name="user-interests"
                v-model="contactFields.interests"
                cols="30"
                rows="17"
                required
                tabindex="10"
              ></textarea>
            </label>

            <div class="form-btns">
              <button type="reset" class="submit-btn">Reset</button>
              <button type="submit" class="submit-btn">Send Message</button>
            </div>
          </div>
        </form>
      </div>
      <div class="address-section">
        <h2 class="address-title">Our Address</h2>
        <div class="address-text">AGRIDERA Seeds & Agriculture Ltd.</div>
        <div class="address-text">P.O Box 103,</div>
        <div class="address-text">Gedera 70750, Israel.</div>
        <div class="address-text">
          Telephone: <a href="tel:+97289449222">+972 8 944 9222</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="wrapper nav-footer">
        <div class="footer-links">
          <ul>
            <li><a href="#">PROFILE</a></li>
            <li><a href="#">MANAGEMENT</a></li>
            <li><a href="./tomato_all.html">PRODUCTS</a></li>
            <li><a href="#">R&D</a></li>
            <li><a href="#">LINKS</a></li>
            <li><a href="#">SITEMAP</a></li>
            <li><a href="./contact_us.html">CONTACT</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <a href="#"><img src="./../images/Ico_in.png" alt="In" /></a>
          <a href="#"><img src="./../images/Ico_inst.png" alt="Instagram" /></a>
          <a href="#"><img src="./../images/Ico_tube.png" alt="YouTube" /></a>
          <a href="#"><img src="./../images/Ico_tw.png" alt="Twitter" /></a>
          <a href="#"><img src="./../images/Ico_fb.png" alt="Facebook" /></a>
        </div>
      </div>
      <div class="footer-credit">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</div>
    </div>
    <script src="./../js/index.js"></script>
  </body>
</html>
