<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beetroot One</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../css/template.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="wrapper">
        <div class="row">
          <div class="w-2">
            <div id="logo">
              <img src="./../images/Logo.png" alt="Logo" />
            </div>
          </div>
          <div class="w-2 align-right">
            <div id="search">
              <div id="search-in" class="flex">
                <input type="text" placeholder="Search" />
                <button>Submit</button>
              </div>
            </div>
            <div id="menu">
              <ul>
                <li><a href="./../index.html">Home</a></li>
                <li><a href="#">Company Profile</a></li>
                <li><a href="./tomato_all.html">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">R&D</a></li>
                <li><a href="./contact_us.html">Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="light-gray" class="content">
      <div class="wrapper">
        <div class="tomato-prev">
          <a class="return-link" href="./tomato_all.html"
            ><img
              class="return-arrow"
              src="./../images/Arrow.png"
              alt=""
            />Return to all beetroot seeds</a
          >
        </div>

        <div class="tomato-details">
          <div id="col1">
            <h1 class="tomato-title">{{product.title}}</h1>
            <img src="./../images/Union.png" alt="" />

            <div class="tomato-yield">
              <img
                class="yield-image"
                src="./../images/red-img.png"
                alt=""
              />Very high yield and excellent fruits quality!
            </div>

            <div class="full-desc" v-html="product.desc"></div>
          </div>

          <div id="col2">
            <img class="prod-img" :src="'./../images/'+product.image" alt="Product Image" />
            <div class="pdf-download-link">
              <a
                href="#"
                @click.prevent="addToCart(product.id)"
                v-if="!btnVisible"
              >
                Add to cart
              </a>
              <a href="./contact_us.html" v-if="btnVisible">Go to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="wrapper nav-footer">
        <div class="footer-links">
          <ul>
            <li><a href="#">PROFILE</a></li>
            <li><a href="#">MANAGEMENT</a></li>
            <li><a href="./tomato_all.html">PRODUCTS</a></li>
            <li><a href="#">R&D</a></li>
            <li><a href="#">LINKS</a></li>
            <li><a href="#">SITEMAP</a></li>
            <li><a href="./contact_us.html">CONTACT</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <a href="#"><img src="./../images/Ico_in.png" alt="In" /></a>
          <a href="#"><img src="./../images/Ico_inst.png" alt="Instagram" /></a>
          <a href="#"><img src="./../images/Ico_tube.png" alt="YouTube" /></a>
          <a href="#"><img src="./../images/Ico_tw.png" alt="Twitter" /></a>
          <a href="#"><img src="./../images/Ico_fb.png" alt="Facebook" /></a>
        </div>
      </div>
      <div class="footer-credit">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</div>
    </div>
    <script src="./../js/index.js"></script>
  </body>
</html>

